<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <!-- icons -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include('partials/navbar') %>
	<div id="main-content">
        <%- include('partials/error') %>
        <div class="jumbotron">
			<h1 class="display-4">Welcome <%= user.name %></h1>
			<p class="lead">This is a very simple app with the help of which you can create article and share it with your friends.</p>
			<hr class="my-4">
			<p>This also has a powerful rich text editor so you can customize your article easily.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="/article/create" role="button">Create Article</a>
			</p>
        </div>

        <div class="container">
			<h2>Your Articles</h2>
			<% for(let i=0 ; i < user.article.length; i++ ) {%>
				<div class="articleContainer">
					<h3 style="float: left; clear: left;"><%= user.article[i].title %></h3> &nbsp; 
					<!-- <span> ( 11 march 20002 ) </span> -->
					<a href="/article/edit/<%= user.article[i]._id %>" class="tool-items fa fa-pencil fa-2x"></a> &nbsp;
					<a href="/article/delete/<%= user.article[i]._id %>" ><i class="fa fa-trash fa-2x"></i></a> &nbsp;
				</div>
			<% } %>
        </div>
    </div>
</body>
</html>