<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <!-- icons -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<style>
		img{
			max-width: 300px;
			max-height: 300px;
		}
		#heading {
			text-align: center;
			/* background-color: mediumspringgreen; */
			padding: 30px;
		}
		span {
			color: rgba(0, 0, 0, 0.6);
		}
		#main-content{
			width: 80%;
			margin: auto;
			background-color: aqua;
		}
	</style>
</head>
<body>
  <%- include('partials/navbar') %>
	<div id="main-content">
		<div id="heading">
			<h1> <%= article.title %></h1>
			<span>Article By: <%= owner.name %></span> <br>
			<span>Updated At: <%= updatedAt%> </span>
		</div>
		<div class="content">
			<%- article.content %> 
		</div>
	</div>
</body>
</html>